extends layouts/main-layout.pug

block content
    if !profileUser
        .error-page
            div
                h1(data-h1="404") 404
                p(data-p="NOT FOUND") NOT FOUND
        #profileParticle
    else
        .profileHeaderContainer
            .coverPhotoContainer

                .userImageContainer
                    img(src=profileUser.profilePic, alt="user profile image")
        .postContainer

        +createPostModals(userLoggedIn)


block scripts
    script(src="/js/profile.js")
    script(src="/js/profileParticle.js")
