:root {
  --blue: #1fa2f1;
  --blueLight: #9bd1f9;
  --blueBackground: rgba(212, 237, 255, 0.6);
  --buttonHoverBg: #d4edff;
  --lightGrey: rgb(230, 236, 240);
  --spacing: 15px;
  --greyText: rgb(101, 119, 134);
  --greyButtonText: rgba(0, 0, 0, 0.34);
  --red: rgb(226, 34, 94);
  --redBackground: rgba(226, 34, 94, 0.1);
  --green: rgb(23, 191, 99);
  --greenBackground: rgba(23, 191, 99, 0.1);
  --colorPin: rgb(172, 56, 52);
  --orange:  #F45D22;
  --bg: #15202B;
}

html, body {
  height: 100%;
  min-height: 100%;
  background-color: #15202B;
  font-weight: 300;
}

* {
  outline: none !important;
  /* background-color: #15202B; */
}

a {
  color: #fff;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 19px;
  font-weight: 800;
  margin: 0;
  color: #fff;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  position: sticky !important;
  top: 0;
  position: -webkit-sticky;
}

nav a {
  padding: 10px;
  font-size: 30px;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F45D22;
}

nav a.blue {
  color: #fff;
}

nav a.blue:hover {
  color: #fff;
  background-color: rgba(155,209,249, 0.1);
}

nav a:hover {
  background-color: rgba(244,93,34, 0.1);
  color: #F45D22;
  border-radius: 50%;
  transition: all 0.17s ease-in-out;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper > .row {
  margin: 0;
  height: 100%;
}

button {
  background-color: transparent;
  border: none;
  color: var(--greyButtonText);
}

button i,
button span {
  pointer-events: none;
}

.mainSectionContainer {
  padding: 0;
  border-left: 1px solid rgba(56,68,77, 0.2);
  border-right: 1px solid rgba(56,68,77, 0.2);
  display: flex;
  flex-direction: column;
}

.mainSectionContainer .resultsContainer .user {
  padding: var(--spacing);
  display: flex;
  border-bottom: 1px solid rgba(56,68,77, 0.2);
}

.mainSectionContainer .postsContainer .noResults {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: var(--spacing);
  color: var(--greyText);
}

.titleContainer {
  height: 53px;
  padding: 0 var(--spacing);
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgba(56,68,77, 0.2);
  flex-shrink: 0;
}

.titleContainer a{
  color: #F45D22;
}

.titleContainer a:hover{
  color: #fff;
  background-color: rgba(155,209,249, 0.1);
  border-radius: 50%;
  padding: 6px 10px;
}

.titleContainer h1 {
  flex: 1;
}

.postFormContainer {
  display: flex;
  padding: var(--spacing);
  border-bottom: 10px solid rgba(56,68,77, 0.32);
  flex-shrink: 0;
  position: sticky !important;
  top: 0;
  background-color: #15202B;
}

.modal .postFormContainer {
  border: none;
  padding: 0;
  padding-top: var(--spacing);
  background-color: #f89e7a;
}

.modal .post {
  padding: 0 0 var(--spacing) 0;
}

.modal .post:hover {
  background-color: unset !important;
}

.userImageContainer {
  width: 50px;
  height: 50px;
}

.userImageContainer img {
  width: 100%;
  border-radius: 50%;
  background-color: white;
}

.textareaContainer {
  flex: 1;
  padding-left: var(--spacing);
}

.textareaContainer textarea {
  width: 100%;
  border: none;
  background-color: #15202B;
  resize: none;
  font-size: 19px;
  color: #fff;
}

#submitPostButton {
  background-color: #F45D22;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 40px;
  padding: 7px 25px;
}

#submitPostButton:disabled {
  background-color: #843E27;
}

.post {
  display: flex;
  flex-direction: column;
  padding: var(--spacing);
  cursor: pointer;
  border-bottom: 1px solid rgba(56,68,77, 0.2);
  flex-shrink: 0;
}

.post:hover {
  background-color:rgba(32,44,54, 0.2);
}

.mainContentContainer {
  flex: 1;
  display: flex;
}

.postContentContainer {
  padding-left: var(--spacing);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.username,
.date {
  color: var(--greyText);
}

.displayName {
  font-weight: bold;
  color: #fff;
}

.postFooter {
  display: flex;
  align-items: center;
}

.postFooter .postButtonContainer {
  flex: 1;
  display: flex;
}

.postFooter .postButtonContainer button {
  padding: 2px 5px;
  color: #566470;
}

.header a:hover {
  text-decoration: underline;
  color: #fff;
}

.header a,
.header span {
  padding-right: 5px;
}

.postButtonContainer button:hover {
  background-color: #d4edff;
  color: var(--blue);
  border-radius: 50%;
}

.postButtonContainer.red button.active {
  color: var(--red);
}

.postButtonContainer.red button:hover {
  color: var(--red);
  background-color: var(--redBackground);
}

.postButtonContainer.green button.active {
  color: var(--green);
}

.postButtonContainer.green button:hover {
  color: var(--green);
  background-color: var(--greenBackground);
}

.postActionContainer {
  padding-left: 35px;
  font-size: 13px;
  color: var(--greyText);
  margin-bottom: 5px;
}

.replyFlag {
  margin-bottom: 5px;
  color: var(--greyText);
}

.replyFlag a {
  color: #F45D22;
}

.post.largeFont .postBody,
.post.largeFont .postFooter {
  font-size: 23px;
}

.postBody span {
  color: #fff;
  font-weight: lighter;
}

.postContentContainer .header {
  display: flex;
}

.postContentContainer .header .date {
  flex: 1;
}

.errorMessage {
  padding: var(--spacing);
  color: #fff;
  align-items: center;
  display: flex;
  justify-content: center;
}

.coverPhotoSection {
  height: 180px;
  background-color: var(--blue);
  position: relative;
}

.profileHeaderContainer .userImageContainer {
  width: 132px;
  height: 132px;
  margin-left: var(--spacing);
  position: absolute;
  bottom: -66px;
  /* display, align dan justify menargetkan icon upload foto menjadi ditengah */
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileHeaderContainer .userImageContainer img {
  border: 4px solid #fff;
}

.profileHeaderContainer .profileButtonsContainer {
  text-align: right;
  padding: var(--spacing);
  min-height: 66px;
}

.profileButton,
.followButton {
  border: 2px solid #F45D22;
  color:#F45D22;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 60px;
  display: inline-block;
  margin-left: var(--spacing);
}

.followButton:hover {
  background-color: rgba(244, 93, 34, 0.1);
}

.profileButton:hover {
  color: white;
  background-color: rgba(244, 93, 34, 0.1);
}


.postContentContainer .replyFlag a:hover {
  text-decoration: underline;
}

.followButton.following {
  border: 2px solid #F45D22;
  color: #F45D22;
}

.profileHeaderContainer .userDetailsContainer {
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing);
}

.followersContainer .value {
  font-weight: bold;
  margin-right: 5px;
}

.followersContainer span:not(.value) {
  color: var(--greyText);
}

.followersContainer a {
  margin-right: 15px;
}

.followersContainer a:hover {
  border-bottom: 1px solid #000;
  color: var(--greyText);
}

.tabsContainer {
  display: flex;
  border-bottom: 1px solid rgba(56,68,77, 0.2);
  flex-shrink: 0;
}

.tab {
  flex: 1;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--greyText);
  font-weight: bold;
}

.tab:hover {
  color: #F45B24;
  background-color: rgba(244, 93, 34, 0.1);
  transition: all 0.27s ease-in-out;
}

.tab.active {
  color: #F45B24;
  border-bottom: 4px solid #F45D22;
}

.noResults {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing);
  color: #fff;
}

.resultContainer {
  display: flex;
  flex-direction: column;
}

.resultContainer .user {
  padding: var(--spacing);
  display: flex;
  border-bottom: 2px solid rgba(56,68,77, 0.2);
}

.user .userDetailsContainer {
  flex: 1;
  padding: 0 var(--spacing);
}

.profilePictureButton,
.coverPhotoButton {
  position: absolute;
  font-size: 50px;
  color: rgba(0, 0, 0, 0.603);
  display: none;
}

.userImageContainer:hover .profilePictureButton,
.coverPhotoSection:hover .coverPhotoButton {
  display: block;
}

.coverPhotoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.coverPhotoContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
}

#imagePreview,
#coverPreview {
  display: block;
  max-width: 100%;
  padding: var(--spacing);
  width: 100%;
}

/* Pembuka Setup maps */

.mainSectionContainer .postsContainer #map {
  box-sizing: content-box;
  border: 0.5rem solid white;
  height: 25rem;
}

.mainSectionContainer .titleContainer {
  position: sticky !important;
  top: 0;
  background-color: #15202B;
}

.pinButton.active {
  color: #F45D22;
}

.pinButton{
  color: rgba(244,93,34, 0.2);
}

.pinnedPostText {
  font-size: 12px;
  color: #F45D22;
}

.searchBarContainer {
  position: relative;
  color: var(--greyText);
  padding: 10px var(--spacing);
  position: sticky !important;
  top: 0;
  background-color: #15202B;
}

.searchBarContainer i {
  position: absolute;
  top: 20px;
  left: 30px;
}

.searchBarContainer #searchBox {
  height: 36px;
  width: 100%;
  padding: 5px 15px 5px 40px;
  border-radius: 50px;
  background-color: #253341;
  border: none;
  color: var(--greyText);
}

.chatPageContainer {
  display: flex;
  flex-direction: column;
  min-height: 0;
  flex: 1;
}

.chatTitleBar {
  border-bottom: 1px solid rgba(56,68,77, 0.2);
  display: flex;
  align-items: center;
  min-height: 60px;
  padding: var(--spacing);
}

.chatTitleBar label {
  margin: 0 10px 0 0;
  color: #fff;
  font-weight: 400;
}

#userSearchTextbox {
  border: none;
  flex: 1;
  font-weight: 200px;
  min-width: 350px;
  background-color: #15202B;
  color: #fff;
}

#createChatButton {
  border: 2px solid #F45D22;
  color: #fff;
  padding: 7px 20px;
  font-weight: bold;
  margin: 10px auto;
  border-radius: 40px;
}

#createChatButton:hover {
   background-color: rgba(244, 93, 34, 0.1);
}

#createChatButton:disabled {
  background-color: rgba(230, 236, 240, 0.1);
  color: var(--greyText);
  border: 2px solid rgba(230, 236, 240, 0.06);
}

.selectedUser {
  font-weight: 600;
  background-color: #cbe5fe;
  color: #0084ff;
  padding: 5px;
  border-radius: 3px;
  margin: 5px 5px 0 0;
  display: inline-block;
}

.resultListItem {
  padding: 7px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid  rgba(56,68,77, 0.2);
}


.resultListItem:hover {
  background-color:rgba(32,44,54, 0.2);
  color: #fff;
}

.resultsDetailsContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.resultsDetailsContainer .heading {
  font-weight: 500;
}

.resultsDetailsContainer .subText {
  color: var(--greyText);
  font-size: 14px;
}

.resultListItem img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.resultsImageContainer {
  height: 40px;
  width: 40px;
  position: relative;
  margin-right: 10px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.groupChatImage img {
  height: 65%;
  width: 65%;
  position: absolute;
  bottom: 0;
  margin: 0;
  border: 2px solid #15202B;
}

.groupChatImage img:first-of-type {
  top: 0;
  right: 0;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.modal-body {
  background-color: rgba(244, 93, 34, 0.6);
}

.modal-header {
  background-color: #15202B;
  color: #fff;
}

.modal-footer {
  background-color: #15202B;
  color: #fff;
}

#replyTextarea{
  background-color: #f89e7a;
}

.chatTitleBarContainer {
  border-bottom: 2px solid  rgba(56, 68, 77, 0.2);
  color: var(--greyText);
  display: flex;
  align-items: center;
  padding: var(--spacing);
}

#chatName {
  width: 100%;
  border: 1px solid transparent;
  padding: 0 5px;
}

#chatName:hover {
  border: 1px solid  rgba(56,68,77, 0.2);
  cursor: text;
}

.chatContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.chatContainer .footer {
  display: flex;
  padding: var(--spacing);
  flex-shrink: 0px;
}

.chatContainer .footer textarea {
  flex: 1;
  resize: none;
  background-color: rgba(37,51,65, 0.55);
  border-radius: 20px;
  border: 1px solid var(--orange);
  padding: 8px 15px;
  font-weight: 200;
  height: 42px;
  color: #fff;
}

.chatContainer .footer textarea::-webkit-scrollbar {
    width: 0px;  /* Hapus scrollbar space */
    background: transparent;  /* Membuat visibility scrollbar menjadi transparent; */
}

.chatContainer .footer button {
  background-color: transparent;
  color: var(--orange);
  font-size: 24px;
}

.chatMessages {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: var(--spacing);
}

.chatImagesContainer {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  margin-right: 10px;
}

.chatImagesContainer img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--bg);
}

.chatImagesContainer .userCount {
  height: 40px;
  width: 40px;
  background-color: rgba(155,209,249, 0.1);
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  border: 8px solid var(--bg);
  font-weight: 600;
}

.chatImagesContainer img:not(:last-child),
.chatImagesContainer .userCount {
  margin-left: -10px;
}

#chatNameTextbox {
  width: 100%;
  background-color: #f89e7a;
  border: none;
  color: #fff;
  font-weight: 700;
}

.chatMessages .message {
  padding-bottom: 2px;
  list-style: none;
  color: #fff;
  font-weight: 400;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
  -webkit-flex: 0;
}

.chatMessages .message .messageBody {
  background-color: rgb(61,84,102);
  padding: 6px 12px;
  border-radius: 18px;
  font-size: 14px;
}

.chatMessages .message .messageContainer {
  display: flex;
  flex-direction: column;
  max-width: 55%;
}

.chatMessages .message.mine {
  flex-direction: row-reverse;
}

.chatMessages .message.mine .messageBody {
  background-color: var(--orange);
  color: #fff;
  font-weight: 400;
}

.chatMessages .message.mine.first .messageBody {
  border-bottom-right-radius: 2px;
}

.chatMessages .message.mine:not(.first):not(.last) .messageBody {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

.chatMessages .message.mine.last .messageBody {
  border-bottom-right-radius: 18px;
}

.chatMessages .message.mine.last:not(.first) .messageBody {
  border-top-right-radius: 2px;
}

.chatMessages .message.theirs.first .messageBody {
  border-bottom-left-radius: 2px;
}

.chatMessages .message.theirs:not(.first):not(.last) .messageBody {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

.chatMessages .message.theirs.last .messageBody {
  border-bottom-left-radius: 18px;
}

.chatMessages .message.theirs.last:not(.first) .messageBody {
  border-top-left-radius: 2px;
}