mixin createPostForm(userLoggedIn)
    .postFormContainer
        .userImageContainer
            img(src=userLoggedIn.profilePic, alt="User's profile picture")
        .textAreaContainer
            textarea#postTextArea(placeholder="Apa yang sedang terjadi? ")
            .buttonsContainer
                button#submitPostButton(disabled="") Post